*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
}

/* --------------------------------HEADER------------------------------ */

.header {
  height: 30%;
}

.logo {
  float: left;
  margin-top: 20px;
  margin-left: 15px;
}

a {
  color: black;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.header ul a {
  display: block;
  text-decoration: none;
  padding: 20px;
  border-bottom: 1px solid rgb(82, 152, 255);
  margin-bottom: 3px;
}

.header ul a:hover {
  background-color: #ddd;
}

/* -----------------Hamburger Menu-------------------- */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.header .menu-icon {
  margin-left: 15%;
  padding: 28px 20px;
  position: relative;
  cursor: pointer;
  float: left;
}

.header .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background 0.2s ease-out;
}

.header .menu-icon .nav-icon:before {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: 5px;
}

.header .menu-icon .nav-icon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

/* ------------------------FIN Hamburger Menu/ CONTINUACION HEADER---------------------------- */

.ingresar {
  /* display: flex;
  align-items: center; */
  float: right;
  position: absolute;
  left: 75%;
  bottom: 95%;
  justify-self: flex-end;
  /* margin-bottom: 25px; */
  margin-right: 15px;
}

.ingresar button {
  color: white;
  background-color: #5227cc;
  border: thick solid #5227cc;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

/* ---------------------------------INTRO manos-------------------------- */

.hands-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./SenpaiProyecto1/Materiales/manos.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 200px;
}

.hands-text {
  display: relative;
  color: white;
  text-align: center;
  font-size: 10px;
  width: 70%;
}

/* ------------------------------NOSOTROS---------------------------------- */

/*Comienzo de seccion Nosotros*/
.elH {
  position: relative;
  bottom: 10px;
  font-size: 1.4rem;
}
.elP {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
.P2 {
  display: flex;
  justify-content: center;
  align-items: center;
  right: 13px;
}

.contenedor1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgb(82, 152, 255);
  height: 100vh;

  grid-template-columns: 1fr;
  grid-template-rows: 65% 35%;
  grid-area: contenedor1;
}

.nosotros1 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.texto1 {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.4;
  color: white;
}

.image1 {
  border-color: orange;
  border-style: solid;
  border-radius: 1rem;
  background-image: url("./SenpaiProyecto1/Materiales/oficina.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 270px;
}

.texto2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  line-height: 1.4;
  color: white;
}

.image2 {
  margin-bottom: 20px;
  border-color: orange;
  border-style: solid;
  border-radius: 1rem;
  grid-area: image2;
  background-image: url("./SenpaiProyecto1/Materiales/voluntariado.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 270px;
}

/* ------------------------------OPORTUNIDADES---------------------------------- */

/*Comienzo de seccion Oportunidades "Cards de colores"*/
.oportunidades {
  height: 100%;
  width: 100vw;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.seccion2 {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textoOportu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.4;
}

.voluntario {
  color: white;
  width: 250px;
  height: 200px;
  border-radius: 1rem;
  background-color: #ff4b47;
}

.voluntario1 {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.contenedorMano {
  width: 50%;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedorMas {
  display: flex;
  width: 15%;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.contenedorPalabras {
  display: flex;
  width: 90%;
  justify-content: center;
}

.palabras {
  font-size: 1.7rem;
}

.mas {
  width: 20px;
  height: 20px;
}

.mano {
  width: 37px;
}

.donar {
  color: white;

  left: 75px;
  width: 250px;
  height: 200px;
  grid-area: donar;
  border-radius: 1rem;
  background-color: #ffa500;
}

.reciclar {
  color: white;

  left: 75px;
  width: 250px;
  height: 200px;
  grid-area: reciclar;
  border-radius: 1rem;
  background-color: #00aa3d;
}
.reciclar1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contenedorReci {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 120px;
}
.contenedorMas2 {
  display: flex;
  width: 15%;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.contenedorPalabras2 {
  display: flex;
  width: 60%;
  justify-content: center;
}

.laboral {
  color: white;
  left: 75px;
  width: 250px;
  height: 200px;
  border-radius: 1rem;
  background-color: #2cc5d0;
}

.donar1 {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.contenedorMano1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.contenedorMas1 {
  display: flex;
  width: 15%;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.contenedorPalabras1 {
  display: flex;
  width: 50%;
  justify-content: center;
}

.mas1 {
  width: 20px;
  height: 20px;
}

.mano1 {
  width: 70px;
}

.palabras1 {
  font-size: 1.7rem;
}

.reci {
  width: 3.7rem;
}

.palabras2 {
  font-size: 1.7rem;
}
.mas2 {
  width: 20px;
  height: 20px;
}

.maletin {
  width: 50%;
}

.laboral1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contenedorMaletin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 50%;
}
.contenedorMas3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 50px;
}

.palabras3 {
  font-size: 1.7rem;
}
.contenedorPalabras3 {
  display: flex;
  justify-content: center;
  width: 60%;
}

.mas3 {
  width: 20px;
  height: 20px;
}
.encuentra {
  font-size: 1.2rem;
}

.parrafo {
  width: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

/* ------------------------------NOTICIAS---------------------------------- */

#noticias {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5298ff;
  height: fit-content;
  padding: 30px;
  font-size: 13px;
  margin-top: 30px;
}

.grande {
  width: 400%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  transform: translateX(-25%);
}

.puntos {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;

  padding: 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.punto {
  border-radius: 36px;
  width: 2em;
  height: 2em;
  background-color: white;
}

.punto.activo {
  background-color: rgb(165, 158, 158);
}

.noticias-responsive {
  width: 100%;
  max-width: 120em;
}

.noticias-titulo h3 {
  color: white;
  width: 20%;
  text-justify: center;
}

.noticias-titulo p {
  font-size: 13px;
  text-align: center;
  padding-bottom: 15px;
}

.mini-noticia {
  display: flex;
  flex-direction: column;
  width: calc(100% / 4);
  height: 100%;
  margin: 3px;
  font-size: 8px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: whitesmoke;
}

.foto {
  display: flex;
  align-items: flex-end;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

.foto p {
  color: white;
  background-color: #5227cc;
  border-radius: 15px;
  padding: 0 3px;
  margin-left: 8px;
  margin-bottom: 8px;
}

.animales {
  background-image: url(./SenpaiProyecto1/Materiales/perros.jpg);
}

.uruguay {
  background-image: url(./SenpaiProyecto1/Materiales/cancha.jpg);
}

.voluntariado {
  background-image: url(./SenpaiProyecto1/Materiales/voluntarios.jpg);
}

.techo {
  background-image: url(./SenpaiProyecto1/Materiales/techo.jpg);
}

.fecha-hora {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 15px 10px;
}

.noticia-texto {
  font-size: 0.7rem;
  padding: 5px 10px;
  line-height: 11px;
}

.noticia-h4 {
  padding-bottom: 15px;
}

.noticia-texto a {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/* ----------------------------------CONTACTO------------------------------------------ */

#contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.contacto-responsive {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contacto h2 {
  font-size: 2rem;
  text-align: center;
}

.contacto-image {
  background-image: url(./SenpaiProyecto1/Materiales/laptop-escritorio.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 150px;
}

form {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  padding: 20px;
}

form input {
  border: thin solid rgb(131, 130, 130);
  border-radius: 5px;
  height: 20px;
}

textarea {
  border-radius: 5px;
}

.nombre-apellido,
.email,
.solicitud {
  padding: 7px;
}

.enviar {
  color: white;
  background-color: #5227cc;
  border-color: #5227cc;
  border-radius: 10px;
  width: 20%;
  padding: 5px;
  margin-top: 0;
  align-self: center;
  cursor: pointer;
  box-shadow: 2px 4px 5px gray;
}

/* --------------------------------FOOTER------------------------------------- */

/*Comienzo de la seccion Footer */
.footer {
  margin-top: 10px;
  height: 100%;
  border-radius: 10px;
  color: white;
  background-color: #5705ff;
  display: flex;
  flex-direction: column;
}

.nex {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

li .a {
  text-decoration: none;
}

.redes {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.face {
  margin-right: 3px;
  width: 20px;
}

.twit {
  width: 20px;
}

.ig {
  margin-left: 3px;
  width: 20px;
}

.copyr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  height: 40px;
  color: black;
}

.segui {
  font-size: 15px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a {
  color: white;
}

.linea {
  margin-top: 20px;
  border-top: white;
  border-style: solid;
  border-left: none;
  border-right: none;
}

/* --------------------------------MODAL----------------------------------------- */

.modal-contenedor {
  position: fixed;
  top: 10%;
  left: 20%;
  transform: translate(-50%, -50%);
  display: flex;
  border-radius: 10px;
  width: 90vw;
  height: fit-content;
  background-color: whitesmoke;
}

.modal-foto {
  background-image: url(./SenpaiProyecto1/Materiales/imagen-modal.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.modal-texto {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  width: 50%;
}

.modal-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 10px 0 10px;
}

.modal-atras {
  display: flex;
  font-size: 10px;
}

.modal-atras img {
  align-self: center;
  padding-right: 5px;
}

.button {
  border: none;
  font-weight: 700;
}

.modal-titulo {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.modal-caja {
  display: flex;
  background-color: white;
  border-radius: 5px;
  width: 90%;
  margin: 13px 10px;
  box-shadow: 2px 4px 7px gray;
}

.caja-icono {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5298ff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 50%;
}

.caja-icono img {
  filter: invert(100%) sepia(10%) saturate(451%) hue-rotate(110deg)
    brightness(101%) contrast(94%);
  width: 50%;
  height: auto;
}

.caja-texto {
  display: flex;
  flex-direction: column;

  padding: 10px;
  font-size: 11px;
}

.caja-texto h4 {
  color: #5298ff;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.caja-flecha {
  justify-self: flex-end;
  align-self: flex-end;
  margin-right: 5px;
}

.cursor {
  cursor: pointer;
}

.violeta {
  background-color: #7749f8;
}

.titulo-violeta h4 {
  color: #7749f8;
}

#modal::backdrop {
  background: black;
  opacity: 0.8;
}

/* -------------------------------MEDIA QUERY---------------------------- */

@media (min-width: 1024px) {
  /* ------------------MEDIA HEADER------------- */
  .header {
    display: flex;
    height: 70px;
    justify-content: flex-start;
  }

  .header .menu-icon {
    display: none;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    margin-left: 15%;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-self: center;
  }

  ul > li {
    padding: 0 40px;
  }

  .header ul a {
    outline: none;
    border-bottom: none;
  }

  .ingresar {
    justify-self: flex-end;
    align-self: center;
    bottom: 93%;
  }

  /* --------------MEDIA INTRO manos----------- */
  .hands-text {
    font-size: larger;
  }

  .hands-image {
    height: 50vh;
  }

  /*---------------------MEDIA Nosotros---------------*/
  .image1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 460px;
    border-radius: 0;
    border: none;
  }
  .texto1 {
    width: 50%;
  }

  .imgtex1 {
    height: 50%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  .imgtex2 {
    height: 50%;
    display: flex;
    flex-direction: row;
  }

  .image2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    border: none;
    width: 460px;
  }
  .texto2 {
    width: 50%;
  }

  .elP {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  .P2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  /*-------------------------MEDIA Oportunidades------------------*/
  .seccion2 {
    height: 50px;
  }
  .parrafo {
    width: 60%;
    height: 70px;
  }
  .oportunidades {
    flex-direction: row;
    height: 300px;
  }

  .voluntario {
    flex-direction: row;
    width: 200px;
  }

  .donar {
    width: 200px;
  }
  .reciclar {
    width: 200px;
  }
  .laboral {
    width: 200px;
  }

  .contenedorPalabras3 {
    width: 75%;
  }

  /* --------------------MEDIA NOTICIAS---------------- */
  .noticias-responsive {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    font-size: 13px;
  }
  .noticias-titulo {
    font-size: 2rem;
  }

  .mini-noticia {
    height: 300px;
  }
  .puntos {
    background-color: 0;
    padding: 0;
    width: 0;
  }
  .punto {
    display: none;
  }
  .grande {
    width: 100%;
    transform: none;
  }

  .noticia-texto {
    font-size: 0.7rem;
    line-height: normal;
  }

  /* -----------------MEDIA CONTACTO------------- */
  .contacto-responsive {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 100vw;
  }

  .contacto-titulo {
    margin-left: 50%;
  }

  .contacto-image {
    margin-left: 5%;
    width: 50vw;
    height: 350px;
  }

  .form-responsive {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    padding: 20px;
    width: 100%;
    margin-left: 5%;
  }

  .nombre-email-responsive {
    align-self: center;
  }

  /*----------------MEDIA FOOTER------------------ */
  .footer {
    border-radius: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .footer1 {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nex {
    width: 35%;
  }

  .ul {
    display: flex;
    flex-direction: column;
  }

  .list {
    width: 35%;
    justify-content: flex-start;
  }

  li {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .contenedorRedes {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 35%;
  }

  .a {
    font-size: 0.8rem;
  }

  .face {
    width: 15px;
  }

  .twit {
    width: 15px;
  }

  .ig {
    width: 15px;
  }

  .segui {
    font-size: 13px;
  }
}

/* ----------MODAL-------- */

@media screen and (min-width: 600px) {
  .modal-contenedor {
    top: 30%;
    left: 50%;
    max-width: 50vw;
  }

  .caja-icono {
    width: 30%;
  }

  .caja-texto {
    font-size: 0.8rem;
  }
}
